# Node & Frontend
node_modules/
dist/
npm-debug.log
.env.local

# Python & Backend
__pycache__/
*.pyc
venv/
env/
.env

# Database (Don't push your local testing database)
sahaayak.db

# OS Files
.DS_Store